@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<body>
    <h3 style="color":Red">
        <partial align=center>
            WELCOME TO STUDENT UNIVERSITY
            (Gurunanak Institutions Technical Campus)
            (Accrediated by NAAC)
            Ibrahimpatnam, Hyderabad - 500 085, Telangana, India
            </p>
            </h3>
    <label style="color:Red">
        List of Courses  offered
        <ul>
            <li>CSE</li>
            <li>ECE</li>
            <li>MECH</li>
            <li>CIVIL</li>
        </ul>
        </label>"

<div>
    <img src="https://i.ytimg.com/vi/b_CbBvSzIA4/maxresdefault.jpg"
</body>
<html>