<h1>
About Us
</h1>
<p>
    Guru Nanak Institutions Technical Campus (GNITC) is established in year 2001 by Guru Nanak Educational Society under the Chairmanship of Philanthropist Sardar Tavinder Singh Kohli. The campus is constructed on sprawling 31.46 Acres of land situated in Ibrahimpatnam, RR District, Telangana State.
</p>